@font-face{
  font-family: "CookieRun Regular";
  font-weight: normal;
  src: url('./fonts/CookieRun\ Regular.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: "CookieRun Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
